@media (max-width: 480px) {
  .special-heading {
    font-size: 50px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
  .container {
    width: 310px;
    flex-direction: column;
  }
  .header .container {
    width: 310px;
    flex-direction: column;
  }
  .nav li {
  padding: 3px 5px!important;
}
.landing {
  padding: 0;
}
.landing .container .content button {
  color: #fff;
}
.download .container p {
  font-size: 13px;
  text-align: center;
}
.our-beginning .container {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.our-beginning .container .content-box p {
  text-align: center;
}
.our-beginning .container .content-box button {
  align-self: center;
  margin-bottom: 5px;
}
.portfolio .container {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.portfolio .container .box {
  flex-direction: column;
}
.portfolio .container .box button {
  padding: 5px 5px;
}
.portfolio .container .content-photo {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.subscribe .container {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  height: 140px;
}
.subscribe .container .sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.subscribe .container h3 {
  font-size: 15px;
}
.subscribe .container .sub i {
  position: absolute;
  color: #fff;
  font-size: 20px;
  left: 8px;
  top: 44px;
}
.subscribe .container .sub input[type="email"] {
  width: 200px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}
.subscribe .container .sub input[type="submit"] {
  padding: 5px 15px;
  align-items: center;
  justify-content: center;
}
.contact .container .box-us {
  flex-direction: column;
  gap: 10px;
}
.contact .container .send-text {
  align-items: center;
  justify-content: center;
}
.contact .container .send-text input[type="text"] {
  flex-basis: 100%;
}
.contact .container .send-text textarea {
  flex-basis: 100%;
}
.contact .container button {
  margin: 10px auto;
}
}
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 500px;
    flex-direction: column;
  }
  .download .container p {
    font-size: 14px;
  }
  .our-beginning .container .content-box p {
    text-align: center;
  }
  .our-beginning .container .content-box button {
    align-self: center;
    margin-bottom: 10px;
  }
  .portfolio .container p {
    text-align: center;
  }
  .portfolio .container {
    justify-content: center;
    flex-direction: column;
  }
  .portfolio .container .box button {
    font-size: 13px;
    padding: 5px 8px;
  }
  .subscribe .container h3 {
    align-self: center;
  }
  .subscribe .container .sub input[type="email"] {
    width: 400px;
  }
  .subscribe .container .sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .subscribe .container .sub input[type="submit"] {
    padding: 10px 40px;
    margin-top: 10px;
  }
  .contact .container .box-us .box {
    width: 150px;
  }
  .contact .container button {
    margin-left: 60%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 640px;
  }
  .our-beginning .container .content-box button {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .subscribe .container .sub input[type="email"] {
    width: 400px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
  .our-beginning .container .content-box button {
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .container {
    width: 1000px;
  }
  .our-beginning .container .content-box button {
    margin-bottom: 10px;
  }
}
