* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
:root {
  --primary-color: #0e2fb2;
  --secondary-color: #2f00ff;
  --main-transition: 0.3s;
  --padding-top: 100px;
  --padding-bottom: 100px;
  --main-line: 1.5;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Components */
.container {
  width: 750px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background: linear-gradient(90deg, #e0ae0c 0%, #fd7701 100%);
  /* background: linear-gradient(90deg, #e90202 0%, #061ef5 100%); */
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* start header */
.header {
  background-color: #fff;
  box-shadow: 0px 0px 4px 0 black;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .logo a {
  font-size: 30px;
  font-weight: 900;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .nav {
  display: flex;
  width: 50%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
}
.header .container .nav .links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .container .nav .links li {
  padding: 10px 20px;
  border-radius: 6px;
  transition: var(--main-transition);
}
.header .container .nav .links li.active {
  background-color: #fd7701;
}
.header .container .nav .links li.active:hover  a {
  color: #fff!important;
}
.header .container .nav .links li a {
  font-weight: bold;
}
.header .container .nav .links li:hover {
  background-color: #e0ae0c;
  cursor: pointer;
}
/* end header */
/* start landing */
.landing {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  position: relative;
  z-index: -1;
}
.landing .container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing .container .content {
  display: flex;
  height: 100%;
  flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.landing .container .content h4 {
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid ;
}
.landing .container .content p {
  color: rgba(0, 0, 0);
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  white-space: nowrap;
  overflow: hidden;
  animation: control-width 3s 2s steps(41) both, blink 0.5s infinite;
}
@keyframes control-width {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  from {
    border-right-color: rgba(0, 0, 0, 0.8);
  }
  to {
    border-right-color: transparent;
  }
}
.landing .container .content button {
  padding: 10px 30px;
  text-transform: uppercase;
  background-color: transparent;
  color: #000!important;
  border: 1px solid #000;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--main-transition);
}
.landing .container .content button:hover {
  background-color: #000;
  color: #fff!important;
}
/* end landing */
/* start download */
.download {
  background: rgb(2, 2, 2); 
}
.download .container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.download .container p {
  text-transform: uppercase;
  color: #fff;
}
.download .container button {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
/* end download */
/* start our */
.our-beginning .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.our-beginning .container .content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.our-beginning .container .content-box h2 {
  text-transform: uppercase;
}
.our-beginning .container .content-box span {
  color: #1f1d1d;
  text-transform: uppercase;
  border-left: 2px solid #000;
  padding-left: 10px;
}
.our-beginning .container .content-box p:first-of-type {
  line-height: var(--main-line);
}
.our-beginning .container .content-box p:last-of-type {
  line-height: var(--main-line);
}
.our-beginning .container .content-box button {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #000;
  background: transparent;
  transition: var(--main-transition);
}
.our-beginning .container .content-box button:hover {
  color: #fff;
  background: #000;
}
.our-beginning .container .image img {
  max-width: 100%;
}
/* end our */
/* end video */
.video img {
  max-width: 100%;
  filter: grayscale(1);
}
.video .container {
  width: 100%;
}
/* end video */
/* end portfolio */
.portfolio {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.portfolio .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: #000; */
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px; */
}
.portfolio .container .content-box {
  margin-bottom: 20px;
}
.portfolio .container p {
  text-align: center;
  line-height: var(--main-line);
}
.portfolio .container .box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.portfolio .container .box button {
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid #000;
  background-color: transparent;
  transition: var(--main-transition);
}
.portfolio .container .content-box .box button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.portfolio .container .content-photo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.portfolio .container .content-photo .image img {
  background: linear-gradient(90deg, #2c2b29 0%, #000851 100%);
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 6px;
}
.portfolio .container .content-photo .image { 
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: var(--main-transition);
}
.portfolio .container .content-photo .image:hover {
  transform: translateY(-10px);
}
.portfolio .container .content-photo .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.021);
  width: 1px;
  height: 1px;
  z-index: 1;
  transition: var(--main-transition);
}
.portfolio .container .content-photo .image:hover::before {
  width: 150%;
  height: 150%;
}
/* end portfolio */
/* start about */
.about .container {
  display: flex;
  flex-direction: column;
}
.about .container p {
  text-align: center;
  line-height: var(--main-line);
  width: 100%;
  padding: 30px;
  margin-right: -200px;
}
.about .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}
.about .container .content .box {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  border: 1px solid #1CB5E0;
  overflow: hidden;
  border-radius: 6px;
}
.about .container .content .box:hover span {
  bottom: 0;
}
.about .container .content .box img {
  width: 100%;
  transition: var(--main-transition);
}
.about .container .box span {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  position: absolute;
  bottom: -40px;
  text-align: center;
  padding: 10px;
  width: 100%;
  transition: var(--main-transition);
}
.about .container .box-about-us {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
.about .container .box-about-us .box {
  background: white;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  transition: var(--main-transition);
  margin-bottom: 10px;
}
.about .container .box-about-us .box:hover {
  scale: 0.9;
}
.about .container .box-about-us .box h3 {
  text-align: center;
}
.about .container .box-about-us .box p {
  line-height: var(--main-line);
  color: #000;
}
/* end about */
/* start subscribe */
.subscribe {
  background: #00000073; 
}
.subscribe .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.subscribe .container h3 {
  display: flex;
  align-self: flex-start;
  text-transform: uppercase;
  color: #fff;
}
.subscribe .container .sub {
  position: relative;
  height: 100%;
}
.subscribe .container .sub i {
  position: absolute;
  color: #fff;
  font-size: 20px;
  left: 15px;
  top: 35px;
}
.subscribe .container .sub input[type="email"] {
  width: 500px;
  height: 50px;
  padding-left: 50px;
  background-color: #000;
  border: 1px solid #fff;
  outline: none;
  margin-right: 10px;
}
.subscribe .container .sub input[type="email"]::placeholder {
  color: #fff;
}
.subscribe .container .sub input[type="submit"] {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  border-radius: 20px;
  color: #fff;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
}
/* end subscribe */
/* start contact */
.contact {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.contact .container {
  display: flex;
  flex-direction: column;
}
.contact .container p {
  text-align: center;
  line-height: var(--main-line);
}
.contact .container .box-us {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.contact .container .box-us .box {
  background: white;
  border-radius: 6px;
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  transition: var(--main-transition);
}
@media(max-width: 480px) {
  .contact .container .box-us {
    flex-direction: row!important;
  }
  .contact .container .box-us .box {
    width: 85px;
  }
  .contact .container .box-us .box h5 {
    font-size: 10px;
  }
}
.contact .container .box-us .box:hover {
  scale: 1.1;
}
.contact .container .box-us .box i {
  color: var(--primary-color);
}
.contact .container .send-text {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.contact .container .send-text .input {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex: 1;
  flex-basis: 40%;
}
.contact .container .send-text .input input[type="text"] {
  flex: 1;
  flex-basis: 50%;
  padding: 10px;
  outline: none;
}
.contact .container .send-text textarea {
  padding: 10px;
  flex: 1;
  height: 150px;
  flex-basis: 50%;
  outline: none;
}
.contact .container button {
  margin-left: 80%;
  padding: 10px 30px;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}
/* end contact */
/* start footer */
.footer {
  background: #00000073; 
}
.footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
  justify-content: space-evenly;
}
.footer .container .social {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .container .social a {
  color: #fff;
  transition: var(--main-transition);
}
.footer .container .social a:hover {
  color: var(--primary-color);
}
.footer .container span {
  color: #fff;
}
.footer .container span>span {
  color: #f0f600;
  font-weight: bold;
}
/* end footer */
